<div class="col-6 d-flex flex-column position-static">
    <!--Place holder-->
</div>

<div class="col-2 d-flex flex-column position-static">
    <small class="my-auto">已选择商品 <b>{{summary.totalCount}}</b> 件</small>
</div>

<div class="col-3 d-flex flex-column position-static">
    <small class="my-auto text-danger">合计（不含运费）：<b>¥ {{summary.totalPrice}}</b></small>
</div>

<div class="col d-flex flex-column position-static">
    <button id="btn-confirm" class="my-auto btn btn-danger text-white"><small>结算</small></button>
</div>