<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>模组路径</th>
        <th>启用时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{#each plugins}}
        <tr>
            <td>{{id}}</td>
            <td>{{filename}}</td>
            <td>{{enableTimeReadable}}</td>
            <td><button class="btn btn-secondary btn-remove btn-sm" plugin-id="{{id}}">移除</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>