server:
  port: 8080                 # 服务器端口号
  servlet:
    context-path: /

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mariadb://localhost:3306/kmall?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false
    username: root           # 数据库账户
    password: ***            # 数据库账户密码
    driver-class-name: org.mariadb.jdbc.Driver
    druid:
      # Connect Pool
      initial-size: 5
      min-idle: 5
      maxActive: 20
      maxWait: 60000
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      # PSCache
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      filters: stat,wall,slf4j
      connectionProperties: druid.stat.mergeSql\=true;druid.stat.slowSqlMillis\=5000
      web-stat-filter:
        enabled: true
        url-pattern: "/*"
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"
      stat-view-servlet:
        url-pattern: "/druid/*"
        allow: 127.0.0.1, 192.168.163.1
        deny: 192.168.1.73
        reset-enable: false
        login-username: admin   # Druid管理页面账户
        login-password: ***     # Druid管理页面密码
  jpa:
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
    database-platform: org.hibernate.dialect.MariaDB103Dialect
    show-sql: true
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672          # RabbitMQ端口
    username: guest     # RabbitMQ账户
    password: guest     # RabbitMQ密码

logging:
  level:
    org.springframework:
      data: INFO
      security: INFO
    net.kaaass.kmall: INFO

jwt:
  header: Authorization
  secret: ***           # 登录令牌密钥
  expiration: 604800 # One week

file:
  staticAccessPath: /upload/**
  uploadFolder: ../upload/  # 上传文件目录
